.header {
  display: flex;
  flex-direction: row;
  background-color: black;
  width: 100%;
  height: 100px;
  margin: auto;
  padding: 10px;
  gap: 5px;
}

.col-search {
  flex: 3 100% auto;
  margin: auto;
}
.col-logo,
.col-cart {
  flex: 1 100% auto;
  margin: auto;
}

.cart {
  width: 50px;
  border-radius: 50%;
}

.commpany-name {
  text-decoration: none;
  font-size: 36px;
  font-weight: 700;
  background-image: linear-gradient(
    -225deg,
    rgb(0, 0, 0) 0%,
    brown 50%,
    rgb(190, 28, 28) 75%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

/* Style the search field */
form.search input[type="text"] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 85%;
  background: #f1f1f1;
  border-radius: 10px 0 0 10px;
}

/* Style the submit button */
form.search .btnSearch {
  width: 15%;
  padding: 10px;
  background: #b83434;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.search .btnSearch:hover {
  background-color: lightgray;
}

/* Clear floats */
form.search::after {
  content: "";
  clear: both;
}

@media screen and (max-width: 336px) {
  .header {
    flex-wrap: wrap;
    height: auto;
  }

  .col-search {
    flex-basis: 70%;
  }
}

@media screen and (max-width: 390px) {
  .commpany-name {
    font-size: 30px;
  }
  .cart {
    width: 40px;
  }
  form.search input[type="text"] {
    width: 75%;
    font-size: 14px;
  }

  /* Style the submit button */
  form.search .btnSearch {
    width: 25%;
    font-size: 14px;
  }
}
